vti_encoding:SR|utf8-nl
vti_httpdversion:SX|Microsoft-PWS-95/2.0
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|30 Aug 1999 15:12:09 -0400
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|msiis
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.*.txt.txt.bas.c.h.
vti_defaultcharset:SR|none
vti_welcomenames:VX|Default.htm
vti_defaultlanguage:SR|en
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.htm.html.stm.html.stm.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
vti_title:SR|r170
