@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #C0C0C0;
  background-image: "./deprecated/images/homtile.gif";
}

.home {
  display: grid;
  justify-items: center;
  color: black;
  border: 1px solid #910014;

  h3 {
    color: #910014;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: #FFF 3px 3px 6px;
    text-align: center;
  }
}
